#title {
	
	float:right;
	width: 50%;
	font-family: arial;
	font-size: 20px;
	color: black;
}

#image {
	
	
	width: 20%;
	height: 20%;
	
}

#description{

	float: right;
	width: 50%;
	margin-top: -350px;
	
}

.btn {
	width: 100px;
	height: 30px;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background: #282f33;
  padding: 5px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3c474f;
  text-decoration: none;
  cursor: pointer;

}

.comment{

	font-size: 12px;
	font-family: tahoma;
	color: #756f75;
}

.imagen{
	width: 110%;
}

.titulos{
	font-size: 14px;
	font-family: verdana;
}

.nombre{
	font-weight: bold;
	font-size: 15px;
}
